

.cs-background{
	background-image: url('../imgs/bg2.jpg') !important;
	height: 1000px;
	width: 100%
}
.cs-button{
	border-radius: 20px;
}
.cs-button:hover{
	background: #009688;
	border: 0px 0px 0px 0px #BDBDBD;
}

.cs-background-form{
	background: #f0f3f5;
	box-shadow: 8px 8px 8px 8px #f0f3f5;

}
.cs-input{
	border-color: #00796b;
	background: #f0f3f5;
}

.cs-input:focus{
	border-color: #00796b;
	background: #f0f3f5;
	box-shadow: 1px 1px 1px 1px #00796b;
}